@import url(gamma-gallery.css);
@import url(lightgallery.min.css);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.socials__link::before, .article__date::before, .article__views::before, .contact__socials-item::before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

::-moz-selection {
  background-color: #eee;
}

::selection {
  background-color: #eee;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #eee;
}

input:-moz-placeholder {
  color: #eee;
}

input::-moz-placeholder {
  color: #eee;
}

input:-ms-input-placeholder {
  color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  font-size-adjust: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

.container, .header__inner, .main__inner, .footer__inner {
  width: 100%;
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__inner, .footer__inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.header__left, .header__right, .footer__left, .footer__right {
  display: table-cell;
  vertical-align: top;
}

.btn {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 25px;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: #fff;
}

.btn:hover {
  color: #000;
  background-color: #fff;
}

.w-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.header {
  padding: 50px 0 100px;
}

.header__left, .header__right {
  vertical-align: middle;
}

.header__right {
  text-align: right;
}

.header__logo {
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

.header__menu, .header__socials {
  display: inline-block;
  vertical-align: middle;
}

.header__menu {
  margin-right: 40px;
}

.header__burger {
  display: none;
}

.burger {
  padding: 0;
  width: 50px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.burger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.burger span:nth-child(even) {
  left: 50%;
  -webkit-border-radius: 0 9px 9px 0;
  border-radius: 0 9px 9px 0;
}

.burger span:nth-child(odd) {
  left: 0px;
  -webkit-border-radius: 9px 0 0 9px;
  border-radius: 9px 0 0 9px;
}

.burger span:nth-child(1), .burger span:nth-child(2) {
  top: 0;
}

.burger span:nth-child(3), .burger span:nth-child(4) {
  top: 14px;
}

.burger span:nth-child(5), .burger span:nth-child(6) {
  top: 28px;
}

.burger.open span:nth-child(1), .burger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger.open span:nth-child(2), .burger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.burger.open span:nth-child(2) {
  left: -webkit-calc(50% - 5px);
  left: calc(50% - 5px);
  top: 7px;
}

.burger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.burger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.burger.open span:nth-child(5) {
  left: 5px;
  top: 21px;
}

.burger.open span:nth-child(6) {
  left: -webkit-calc(50% - 5px);
  left: calc(50% - 5px);
  top: 21px;
}

.burger.open span:nth-child(2) {
  left: -webkit-calc(50% - 5px);
  left: calc(50% - 5px);
  top: 7px;
}

.menu {
  position: relative;
  z-index: 2;
}

.menu__item {
  position: relative;
  display: inline-block;
  text-align: left;
}

.menu__item::before {
  content: '';
  position: absolute;
  z-index: 6;
  bottom: -5px;
  left: 0;
  width: 0;
  max-width: 20px;
  height: 3px;
  background-color: #8DAA9D;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.menu__item + .menu__item {
  margin-left: 40px;
}

.menu__item:hover::before, .menu__item.active::before {
  width: 100%;
}

.menu__item:hover ul {
  display: block;
}

.menu__item:hover .menu__link {
  color: #fff;
}

.menu__item ul {
  display: none;
  position: absolute;
  z-index: 5;
  left: -10px;
  min-width: -webkit-calc(100% + 20px);
  min-width: calc(100% + 20px);
  white-space: nowrap;
  top: 100%;
  padding: 10px;
  background-color: #000;
}

.menu__item ul a {
  display: inline-block;
  padding: 4px 0;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #9C9C9C;
  font-size: 12px;
}

.menu__item ul a:hover {
  color: #fff;
}

.menu__link {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #9C9C9C;
}

.menu__link:hover {
  color: #fff;
}

.socials__link {
  text-decoration: none;
  color: #9C9C9C;
}

.socials__link:hover {
  color: #fff;
}

.socials__link--facebook::before {
  content: '\e900';
}

.socials__link--instagram::before {
  content: '\e901';
}

.socials__link + .socials__link {
  margin-left: 40px;
}

.main__title {
  margin: 0 0 15px;
  font-size: 25px;
}

.portfolio {
  margin: 0 -15px;
}

.portfolio__list {
  min-height: 25px;
}

.portfolio__item {
  width: 33.333333%;
  float: left;
  display: none;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.portfolio__item.masonry-brick {
  display: block;
}

.portfolio__item-description {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #eee;
  opacity: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(5);
  -ms-transform: scale(5);
  transform: scale(5);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  font-size: 18px;
  font-weight: 900;
  padding: 15px;
}

.portfolio__item::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #000;
  opacity: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.portfolio__item:hover .portfolio__item-description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-filter: blur(0);
  filter: blur(0);
}

.portfolio__item:hover::before {
  opacity: .5;
}

.portfolio__loadmore {
  margin-top: 50px;
  display: none;
}

.portfolio--loading {
  background: transparent url(../img/loading.gif) no-repeat center top;
  -webkit-background-size: 25px 25px;
  background-size: 25px;
}

.portfolio--infiniteScroll .portfolio__loadmore {
  display: table;
}

.footer {
  padding: 100px 0 50px;
  margin: auto 0 0;
}

.footer__left, .footer__right {
  vertical-align: middle;
}

.footer__right {
  text-align: right;
}

.footer__menu, .footer__socials {
  display: inline-block;
  vertical-align: middle;
}

.footer__menu {
  margin-right: 40px;
}

.footer__rights {
  font-size: 12px;
}

.blog__item {
  background-color: #0b0b0b;
  position: relative;
}

.blog__item-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  text-decoration: none;
}

.blog__item-content {
  padding: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  direction: ltr;
}

.blog__item-pic {
  width: 50%;
  background-color: #fff;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.blog__item-date {
  font-size: 13px;
  color: #6f6f6f;
}

.blog__item-title {
  margin: 0 0 15px;
  text-transform: uppercase;
  line-height: 1.3;
  color: #fff;
  font-size: 24px;
}

.blog__item-lead {
  margin: 0;
  line-height: 2;
  color: #bfbfbf;
}

.blog__item:nth-child(even) .blog__item-inner {
  direction: rtl;
}

.blog__item:hover .blog__item-title {
  color: #8DAA9D;
}

.pagination {
  color: #888;
  text-align: center;
  margin: 50px auto 0;
}

.pagination__item {
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  color: inherit;
}

.pagination__item.current, .pagination__item:hover {
  color: #fff;
}

.pagination__prev, .pagination__next {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
  text-align: center;
  padding: 10px 25px;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 300;
  color: #fff;
}

.pagination__prev:hover, .pagination__next:hover {
  color: #000;
  background-color: #fff;
}

.article__header {
  max-width: 750px;
  margin: 0 auto 50px;
}

.article__tags {
  margin-top: 30px;
  background-color: #111;
  padding: 10px 20px;
  font-size: 12px;
}

.article__tags-item {
  margin: 0;
  text-transform: lowercase;
  color: #aaa;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
  margin-left: 15px;
}

.article__tags-item:hover {
  color: #fff;
}

.article__title {
  font-size: 23px;
  text-align: center;
  margin: 0 0 10px;
}

.article__info {
  text-align: center;
}

.article__date, .article__views {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #aaa;
  margin: 0 15px;
}

.article__date::before, .article__views::before {
  font-size: 15px;
  margin-right: 8px;
  position: relative;
}

.article__date::before {
  content: '\e906';
}

.article__views::before {
  content: '\e907';
  top: 2px;
}

.article__tail {
  margin-top: 50px;
  line-height: 2;
}

.article__tail h2 {
  margin: 0;
}

.article__tail p a {
  color: inherit;
  font-weight: 800;
}

.article__tail p a:hover {
  color: #8DAA9D;
}

.article__tail table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse;
}

.article__tail table td {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #333;
  padding: 10px;
  font-weight: 300;
}

.article__tail table thead {
  background-color: #222;
}

.article__tail table thead td {
  font-weight: 500;
  font-size: 15px;
}

.article__tail ol {
  padding: 0;
  list-style-position: inside;
  margin: 30px 0 30px 10px;
}

.article__tail ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 30px 0 30px 10px;
}

.article__tail img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

.set {
  margin: 0 -15px;
}

.set__list {
  min-height: 25px;
}

.set__item {
  width: 33.333333%;
  float: left;
  display: none;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.set__item.masonry-brick {
  display: block;
}

.set__loadmore {
  margin-top: 50px;
  display: none;
}

.set--loading {
  background: transparent url(../img/loading.gif) no-repeat center top;
  -webkit-background-size: 25px 25px;
  background-size: 25px;
}

.set--infiniteScroll .set__loadmore {
  display: table;
}

.contact {
  background-color: #0b0b0b;
  max-width: 800px;
  margin: 0 auto;
}

.contact__wrapp {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.contact__left, .contact__right {
  display: table-cell;
  vertical-align: middle;
}

.contact__left {
  position: relative;
  overflow: hidden;
  opacity: .99;
  text-align: center;
  font-size: 0;
  padding: 45px;
}

.contact__left::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -20%;
  left: -20%;
  width: 120%;
  height: 120%;
  background-image: url(../img/ava.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(20px) grayscale(0.4);
  filter: blur(20px) grayscale(0.4);
}

.contact__ava {
  max-width: 250px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.contact__socials {
  margin-top: 35px;
}

.contact__socials-item {
  text-decoration: none;
  color: #9C9C9C;
  display: inline-block;
  vertical-align: middle;
  background-color: #0b0b0b;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 15px;
}

.contact__socials-item::before {
  font-size: 20px;
  line-height: 40px;
}

.contact__socials-item:hover {
  color: #fff;
}

.contact__socials-item--facebook::before {
  content: '\e900';
}

.contact__socials-item--instagram::before {
  content: '\e901';
}

.contact__socials-item--phone::before {
  content: '\e90f';
}

.contact__socials-item--mail::before {
  content: '\e90e';
}

.contact__right {
  padding: 45px;
}

.contact__title {
  margin: 0 0 5px;
  font-weight: 500;
  font-size: 18px;
}

.contact__name {
  font-weight: 900;
  font-size: 25px;
  margin: 0 0 0;
  font-family: "Lato", sans-serif;
}

.contact__form {
  margin: 20px -15px 0;
}

.form__group {
  position: relative;
}

.form__group + .form__group {
  margin-top: 20px;
}

.form__label {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  color: #eee;
  font-size: 16px;
}

.form__field {
  background-color: transparent;
  width: 100%;
  padding: 15px;
  color: #eee;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid  #1c1b21;
}

.form__btn {
  margin-top: 15px;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: #800E13;
}

.lg-outer .lg-thumb-outer,
.lg-outer .lg-toogle-thumb {
  background-color: #0b0b0b;
}

@media only screen and (max-width: 1200px) {
  .portfolio__item,
  .set__item {
    padding: 10px;
    width: 50%;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    padding: 30px 0;
  }
  .header__logo {
    display: block;
    max-width: 200px;
  }
  .header__right {
    display: none;
  }
  .header__burger {
    display: block;
    position: absolute;
    top: 42px;
    right: 12px;
  }
  .portfolio__item::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .2;
  }
  .portfolio__item-description {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    font-size: 55px;
    color: #ddd;
    text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.5);
    opacity: .5;
  }
  .footer {
    padding: 50px 0;
    text-align: center;
  }
  .footer__left {
    display: block;
  }
  .footer__right {
    display: block;
    text-align: inherit;
  }
  .footer__menu {
    display: none;
  }
  .footer__socials {
    margin-top: 10px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 570px) {
  .portfolio__item,
  .set__item {
    width: 100%;
  }
}
