footer.footer
	.footer__inner
		.footer__left
			p.footer__rights &copy; 2019 Photographer #[strong Denis Gromov]. All rights reserved.
		.footer__right
			.footer__menu
				nav.menu
					ul.menu__list
						li.menu__item
							a.menu__link(href="") Portfolio
						li.menu__item
							a.menu__link(href="blog.html") Blog
						li.menu__item
							a.menu__link(href="") Contacts
			.footer__socials
				nav.socials
					a.socials__link.socials__link--facebook(href="")
					a.socials__link.socials__link--instagram(href="")