header.header
	.header__inner
		.header__left
			a.header__logo(href="/") Denis Gromov.
			button.header__burger.burger.js-menuToggle
				span
				span
				span
				span
				span
				span
		.header__right 
			.header__menu
				nav.menu
					ul.menu__list
						li.menu__item
							a.menu__link(href="portfolio.html") Portfolio
							ul
								li
									a(href="") Mens
								li
									a(href="") Nature
								li
									a(href="") Food
								li
									a(href="")  Lorem ipsum dolor.
								li
									a(href="") Mens
								li
									a(href="") Nature
								li
									a(href="") Nature
								li
									a(href="") Food
								li
									a(href="") Summer
								li
									a(href="") Mens
								li
									a(href="") Nature
								li
									a(href="") Food
								li
									a(href="") Summer
								li
									a(href="") Mens
								li
									a(href="") Nature
								li
									a(href="") Food
								li
									a(href="") Summer
						li.menu__item
							a.menu__link(href="blog.html") Blog
						li.menu__item
							a.menu__link(href="contacts.html") Contacts
			.header__socials
				nav.socials
					a.socials__link.socials__link--facebook(href="")
					a.socials__link.socials__link--instagram(href="")