doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:900|Montserrat:300,400,500,600,700|Raleway")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")

	body
		.w-page
			include _header
			.main
				.main__inner
					h1.main__title Portfolio
					section.main__portfolio
						.portfolio.portfolio--notGallery.portfolio--loading
							.portfolio__list
								a(href="portfolio-single.html").portfolio__item
									p.portfolio__item-description Mens
									img(src='img/_DSC2761.jpg')
								a(href="portfolio-single.html").portfolio__item
									p.portfolio__item-description Nature
									img(src='img/_DSC2299.jpg')
								a(href="portfolio-single.html").portfolio__item
									p.portfolio__item-description Food
									img(src='img/фото-2190.jpg')
								a(href="portfolio-single.html").portfolio__item
									p.portfolio__item-description Mens
									img(src='img/DSCF04901-2.jpg')
								
			include _footer

		script(src="js/jquery.masonry.min.js")
		script(src="js/common.js")
		script(src="js/common-portfolio.js")


